import.txt
import.py
config.json
Pictures_to_Match/2000p/8000p_1.png
Pictures_to_Match/2000p/8000p_2.png
Pictures_to_Match/2000p/8000p_3.png
*.pyc
.env
*.env
*.log
*.key
*.pem
*.db
/node_modules
/dist
/build
.DS_Store
Thumbs.db
*.pyd
*.dll
main.dist/Crypto/Util/.keep_dir.txt
main.dist/PyQt6/Qt/.keep_dir.txt
main.dist/PyQt6/Qt6/.keep_dir.txt
*.exe
bulid.bat
*.spec
*.spec
BBH3ScanLunch.spec
*.spec
/venv
*.zip
*.lnk
